{% extends 'layout/three-columns.html.twig' %}

{% block body %}
    <div class="admin-path-edit">
        {% if path is not null %}
            <h1>{% trans %}Path edition:{% endtrans%} {{ path.title }}</h1>
        {% else %}
            <h1>{% trans %}Path creation{% endtrans %}</h1>
        {% endif %}
        <form method="post">
            <input type="hidden" name="id" value="{{path.id|default('') }}" />
            <input type="hidden" name="csrf_token" value="{{ csrf_token('admin-path-edit') }}" >
            <table>
                <tr>
                    <td>
                        <label for="slug">{% trans %}Path slug:{% endtrans %}</label>
                    </td>
                    <td>
                        <input
                            type="text"
                            id="slug"
                            name="slug"
                            {% if path is not null %}
                                disabled="disabled"
                            {% endif %}
                            value="{{ path }}" />
                        {% if path is not null %}
                            {% trans %}(Can not be edited.){% endtrans %}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="title">{% trans %}Title:{% endtrans %}</label>
                    </td>
                    <td>
                        <input type="text" id="title" name="title" value="{{ path.title|default('') }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="template">{% trans %}Custom template{% endtrans %}</label>
                    </td>
                    <td>
                        <input type="text" id="template" name="template" value="{{ path.customTemplate|default('') }}" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="type">{% trans %}Type{% endtrans %}</label>
                    </td>
                    <td>
                        <select id="type" name="type">
                            {% for type in types %}
                                <option
                                    value="{{ type.id }}"
                                    {% if path is not null and path.type == type.id %}
                                        selected="selected"
                                    {% endif %}
                                >
                                    {{ type.label }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input
                           type="submit"
                           {% if path is not null %}
                               value="{% trans %}Update path{% endtrans %}"
                           {% else %}
                               value="{% trans %}Create path{% endtrans %}"
                           {% endif %}
                        />
                    </td>
                </tr>
            </table>
        </form>
    </div>
{% endblock %}