{% extends 'layout/three-columns.html.twig' %}
{#{% set enableVue = false %}#}
{% block body %}
    <div class="admin-article-edit">
        {% if article is not null %}
            <h1>{% trans %}Edition:{% endtrans %} {{ article.title|default('') }}</h1>
        {% else %}
            <h1>{% trans %}Creation of a new article{% endtrans %}</h1>
        {% endif %}
        {{ form_start(form) }}
            {{ form_row(form.id) }}
            {{ form_row(form.title) }}
            {{ form_row(form.path) }}
            <hr />
            {% if article.articleVersions is defined %}
                <h2>{% trans %}Versions{% endtrans %}</h2>
                <table class="version">
                    <tr>
                        <th class="slug">{% trans %}Slug{% endtrans %}</th>
                        <th class="date">{% trans %}Date{% endtrans %}</th>
                        <th class="commit">{% trans %}Commit{% endtrans %}</th>
                        <th class="active">{% trans %}Active{% endtrans %}</th>
                        <th class="actions">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    {% for currentVersion in article.articleVersions %}
                        <tr
                            {% if currentVersion.id == version.id %}
                                class="is-displayed"
                            {% endif %}
                        >
                            <td class="slug">{{ currentVersion.slug }}</td>
                            <td class="date">{{ currentVersion.creationDate|date("d/m/Y H:i:s")}}</td>
                            <td class="commit">{{ currentVersion.commitMessage}}</td>
                            <td class="active">
                                {% if currentVersion.active %}
                                    <span class="is-active" title="{% trans %}Click to disable{% endtrans %}">
                                        <a href="{{ path("admin_article_version_deactivate", {'version': currentVersion.id}) }}">
                                            &#xeb7c;
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="is-not-active" title="{% trans %}Click to enable{% endtrans %}">
                                        <a href="{{ path("admin_article_version_activate", {'version': currentVersion.id}) }}">
                                            &#xeb7d;
                                        </a>
                                    </span>
                                {% endif %}
                            </td>
                            <td class="actions">
                                <span class="action-preview">
                                    <a
                                        href="{{ tiroucuboPathUrl(article.path, false, {version: currentVersion.slug}) }}"
                                        title="{% trans %}Preview the version{% endtrans %}"
                                    >
                                        &#xecb5;
                                    </a>
                                </span>
                                {% if not currentVersion.active %}
                                    <span class="action-delete">
                                        <a
                                            href="{{ path("admin_article_version_delete", {'version': currentVersion.id, 'csrf': csrf_token('admin-article-version-delete') }) }}"
                                            onclick="return confirm('{% trans %}Confirm version suppression{% endtrans %}');"
                                            title="{% trans %}Delete the version{% endtrans %}"
                                        >
                                            &#xec2a;
                                        </a>
                                    </span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <hr />
            {% endif %}
        <h2>{% trans %}Content{% endtrans %}</h2>
        {{ form_row(form.summary) }}
        {{ form_row(form.body) }}
        {{ form_row(form.commit) }}
        {{ form_end(form) }}
    </div>
{% endblock %}