<!DOCTYPE html>
<html lang="{{ page.lang|default('') }}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{ page.author|default('') }}" />
        <title>
            {% if page.title is defined and page.title != '' %}
                {{ page.title }} —
            {% endif %}
            {# TODO: set the default title in configuration? #}
            {{ website.title|default('Spyzone') }}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {# TODO: rename to header #}
                {{ render(controller( 'App\\Controller\\Fragment\\Navigation::display')) }}
            {% endblock %}
        </header>
        {% block main_content %}{% endblock %}
        <footer>
            {% block footer %}
                {{ render(controller( 'App\\Controller\\Fragment\\Footer::display')) }}
            {% endblock %}
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% if enableVue is defined and enableVue == true %}
                {{ encore_entry_script_tags('vue') }}
            {% endif %}
        {% endblock %}
    </body>
</html>
