<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="{{ page.author }}" />
        <title>
            {% if page.title %}
                {{ page.title }} —
            {% endif %}
            {{ website.title }}
        </title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
                {# TODO: rename to header #}
                {{ render(controller( 'App\\Controller\\Fragment\\Navigation::display')) }}
            {% endblock %}
        </header>
        {% block main_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <footer>
            {% block footer %}
                {{ render(controller( 'App\\Controller\\Fragment\\Footer::display')) }}
            {% endblock %}
        </footer>
    </body>
</html>
